<div class="container m-2 border justify-center" style="width: 400px">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row m-2">
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          ngModel
          required
          #username="ngModel"
        />
        <span
          class="small text-danger"
          *ngIf="!username.valid && username.touched"
          >Please enter a valid username !!</span
        >
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          ngModel
          required
          email
          #email="ngModel"
        />
        <span class="small text-danger" *ngIf="!email.valid && email.touched"
          >Please enter a valid email !!</span
        >
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group">
        <label for="secret" class="form-label">Secret Question</label>
        <select
          name="secret"
          class="form-select"
          id="secret"
          ngModel
          [ngModel]="defaultQuestion"
        >
          <option value="default">--select--</option>
          <option value="pet">Your first pet</option>
          <option value="car">Your first car</option>
        </select>
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group">
        <!-- <label for="gender" class="form-label">Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <label for="male" class="form-label"
            ><input
              type="radio"
              name="gender"
              id="male"
              ngModel
              [value]="gender"
              required
            />
            {{ gender }}
          </label> -->
        <label for="gender" class="form-label">Gender</label>
        <div class="form-check" *ngFor="let gender of genders">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="gender"
            ngModel
            [value]="gender"
            required
          />
          <label for="gender" class="form-check-label">{{ gender }}</label>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </div>
    </div>
  </form>
  <div class="row m-2" *ngIf="submitted">
    <div class="col">
      <h3>Your Data</h3>
      <p>Username : {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Secret: {{ user.secret }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
